*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */
:root {
  --clr-darkCyan: #3c8067;
  --clr-cream: #f2ebe3;
  --clr-darkBlue: #1c232b;
  --clr-grayBlue: #6c7289;
  --clr-white: #ffffff;
  --ff-frau: "Fraunces", serif;
  --ff-mont: "Montserrat", sans-serif;
  --fw-reg: 500;
  --fw-bold: 700;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-cream);
}

@media (max-width: 1439px) {
  .card {
    max-width: 340px;
    height: 600px;
    border-radius: 8px;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card__img-mobile {
    width: 100%;
  }
  .card__img-desktop {
    display: none;
  }
  .card__body {
    padding: 2em;
  }
  .card__body-text-perfume {
    padding: 0em 0em 1em;
    color: var(--clr-grayBlue);
    font-size: 1rem;
    font-family: var(--ff-mont);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  .card__body-text-title {
    padding: 0em 0em 0.5em;
    font-size: 2.8rem;
    font-family: var(--ff-frau);
    line-height: 1em;
  }
  .card__body-text-describe {
    margin: 0 0 2em;
    font-size: 1.42rem;
    font-family: var(--ff-mont);
    line-height: 1.6em;
    color: var(--clr-grayBlue);
  }
  .card__body-price {
    display: flex;
  }
  .card__body-price-promo {
    font-size: 3rem;
    font-family: var(--ff-frau);
    color: var(--clr-darkCyan);
  }
  .card__body-price-before {
    margin-left: 2em;
    font-size: 1.2rem;
    font-family: var(--ff-mont);
    color: var(--clr-grayBlue);
    align-self: center;
    text-decoration: line-through;
    text-decoration-color: var(--clr-grayBlue);
  }
  .card__body-btn {
    padding: 1em 0;
    margin: 2em auto 1em;
    width: 90%;
    color: var(--clr-white);
    border: none;
    border-radius: 8px;
    background-color: var(--clr-darkCyan);
  }
  .card__body-btn--text {
    margin-left: 1em;
    font-family: var(--ff-mont);
    font-weight: var(--fw-bold);
    letter-spacing: 0.08em;
  }
}
@media (min-width: 1440px) {
  .card {
    display: flex;
    width: 600px;
    height: 452px;
    border-radius: 8px;
    background-color: var(--clr-white);
    overflow: hidden;
  }
  .card__img-mobile {
    display: none;
  }
  .card__img-desktop {
    width: 100%;
    height: 100%;
  }
  .card__body {
    padding: 3em;
    width: 50%;
  }
  .card__body-text-perfume {
    padding: 0em 0em 2.5em;
    color: var(--clr-grayBlue);
    font-size: 1rem;
    font-family: var(--ff-mont);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  .card__body-text-title {
    padding: 0em 0em 1em;
    font-size: 3.2rem;
    font-family: var(--ff-frau);
    line-height: 1em;
  }
  .card__body-text-describe {
    margin: 0 0 2em;
    font-size: 1.42rem;
    font-family: var(--ff-mont);
    line-height: 1.6em;
    color: var(--clr-grayBlue);
  }
  .card__body-price {
    display: flex;
  }
  .card__body-price-promo {
    font-size: 3rem;
    font-family: var(--ff-frau);
    color: var(--clr-darkCyan);
  }
  .card__body-price-before {
    margin-left: 3em;
    font-size: 1.2rem;
    font-family: var(--ff-mont);
    color: var(--clr-grayBlue);
    align-self: center;
    text-decoration: line-through;
    text-decoration-color: var(--clr-grayBlue);
  }
  .card__body-btn {
    padding: 1em 0;
    margin: 2em auto 1em;
    width: 100%;
    color: var(--clr-white);
    border: none;
    border-radius: 8px;
    background-color: var(--clr-darkCyan);
  }
  .card__body-btn--text {
    margin-left: 1em;
    font-family: var(--ff-mont);
    font-weight: var(--fw-bold);
    letter-spacing: 0.08em;
  }
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 1em;
}
.footer__links {
  text-decoration: none;
  font-weight: var(--fw-bold);
}/*# sourceMappingURL=styles.css.map */