*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Custom properties */

:root {
	--clr-darkCyan: #3c8067;
	--clr-cream: #f2ebe3;
	--clr-darkBlue: #1c232b;
	--clr-grayBlue: #6c7289;
	--clr-white: #ffffff;

	--ff-frau: 'Fraunces', serif;
	--ff-mont: 'Montserrat', sans-serif;

	--fw-reg: 500;
	--fw-bold: 700;
}

html {
	font-size: 62.5%;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-cream);
}

// CARD MOBILE

.card {
	width: 90vw;
	height: 90vh;
	border-radius: 8px;
	background-color: var(--clr-white);
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__img-mobile {
		width: 100%;
	}
	&__img-desktop {
		display: none;
	}

	&__text {
		padding: 2em;

		&-perfume {
			padding: 0em 0em 1em;
			color: var(--clr-grayBlue);
			font-size: 1rem;
			font-family: var(--ff-mont);
			font-weight: var(--fw-bold);
			text-transform: uppercase;
			letter-spacing: 0.5em;
		}

		&-title {
			padding: 0em 0em .5em;
			font-size: 2.8rem;
			font-family: var(--ff-frau);
			line-height: 1em;
		}

		&-describe {
			color: var(--clr-grayBlue);
			font-size: 1.42rem;
			font-family: var(--ff-mont);
			line-height: 1.6em;
		}
	}

	&__price {
		display: flex;
		padding: 1em 2em 2em;

		&-promo {
			
			color: var(--clr-darkCyan);
			font-size: 3rem;
			font-family: var(--ff-frau);
		}

		&-before {
			font-size: 1.2rem;
			margin-left: 2em;
			color: var(--clr-grayBlue);
			font-family: var(--ff-mont);
			align-self: center;
			text-decoration: line-through;
			text-decoration-color: var(--clr-grayBlue);
		}
	}

	&__btn {
		padding: 1em 0;
		margin: 0 auto;
		width: 90%;
		color: var(--clr-white);
		border: none;
		border-radius: 8px;
		background-color: var(--clr-darkCyan);

		&-text {
			margin-left: 1em;
			font-family: var(--ff-mont);
			font-weight: var(--fw-bold);
			letter-spacing: .08em;
		}
	}
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding: 1em;

	&__links {
		text-decoration: none;
		font-weight: var(--fw-bold);
	}
}
